html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --animation-duration: 0.2s;
  --blood: #8a0303;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: 38rem;
  padding: 1.5rem;
  margin: auto;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
}

button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 6px;
}
