.night {
  background-color: #000;
  color: #fff;
}

.day {
  background-color: #fff;
  color: #000;
}

.title {
  color: var(--blood);
  text-align: center;
}

.container {
  /* Horizontally center children */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainMenu {
  display: inline-block;
  min-width: 300px;
}

.menuBtn {
  background-color: var(--blood);
  color: white;
  margin: 5px;
  width: 100%;
}
